{% load static %}

<head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pixel_app/css/draw2.css' %}">
    <script type="text/javascript" src="{% static 'pixel_app/js/draw2.js' %}" defer></script>
</head>
{{ colors|json_script:"colors" }}
{{ pixels_str|json_script:"pixels_str" }}

{{ get_palettes|json_script:"get_palettes" }}
<main id="app">
    <div id="canvas-and-aside">
        <div id="canvas-and-form">
            <form action="{% url 'pixel_app:save_pic' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" v-model="pixelsString" name="pixels-string">
                <input type="text" name="name" placeholder="Save As...">
                <button type="submit">Save</button>
                <select v-model="increment" @change="fillPixels2" name="increment">
                    <option value="50">10x10</option>
                    <option value="25">20x20</option>
                    <!-- <option value="20">25x25</option> -->
                    <option value="10">50x50</option>
                    <option selected value="5">100x100</option>
                </select>
            </form>
            <canvas width="500" height="500" @mousedown="[drawing=true, colorPixel]" @mouseup="drawing=false"
                @mousemove="colorPixel2" @mouseleave="drawing=false" @wheel="wheelTest"></canvas>
        </div>
        <!-- <pallete v-for="palette in palettes"></pallete> -->
        <div v-if="activePalette" id="palette">
            <color-div v-for="color in palette.colors" :key="color.pk" :color="color.name" v-on:choose-active-color="chooseActiveColor" class="color">
            </color-div>
        </div>
    </div>
    <select v-model="activePalette">
        <option :value="null" selected>Choose Palette</option>
        <option v-for="palette in palettes" :value="palette.pk">[[ palette.name ]]</option>
    </select>
</main>