{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pixel_app/css/draw.css' %}">
    <script type="text/javascript" src="{% static 'pixel_app/js/draw.js' %}" defer></script>
</head>
{{ colors|json_script:"colors" }}
<main id="app">
    <div id="canvas-and-aside">
        <div id="canvas-and-form">
            <form action="{% url 'pixel_app:save_pic' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" v-model="pixelsString" name="pixels-string">
                <input type="text" name="name" placeholder="Save As...">
                <button type="submit">Save</button>
                <select v-model="increment" @change="stroke" name="increment">
                    <option value="25">20x20</option>
                    <option selected value="50">10x10</option>
                </select>
            </form>
            <canvas width="500" height="500" @mousedown="colorPixel"></canvas>
        </div>
        <div id="palette">
            <color-div v-for="color in colors" :key="color.id" :color="color" v-on:choose-active-color="chooseActiveColor">

        </div>
    </div>
</main>