body, main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* max-height: 100vh; */
}

main {
    flex-direction: column;
}

canvas {
    border: 2px solid black;
}

.swatch {
    height: 100px;
    width: 100px;
}

#canvas-and-aside {
    display: flex;
}

#canvas-and-form {
    display: flex;
    flex-direction: column;
}

.colors {
    display: flex;
}

.color {
    height: 100px;
    width: 100px;
}

#palette {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 80vh;
}

select {
    max-width: 200px;
}